@charset "UTF-8";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
    background-color: linear-gradient(to right, #cc7321 0%, #c4790a 100%);
    color: white;
    text-align: center;
    font-family: "arial", sans-serif;
    font-size: 24px;
}
#container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow:5px 5px 5px black;
  border:1px solid black;
  padding:10px;
  width: 650px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
#controls{
  font-family: 'Bangers', cursive;
  font-size:32px;
  margin:10px;
}
#controls > p{
  font-size: 48px;
}
#canvas1{
  box-shadow:inset 5px 5px 5px black;
  border:1px solid black;
}


#mandrake{
  display:none;
}